<div class="containter">
  <p>game works!</p>
  <div class="row">
      <div class="col-md-4 offset-1 col-md-4">
        <table class="table table-bordered battleShipBoard">
          <tr *ngFor="let row of playerOne.ownBoard.positions; let indexRow = index">
            <td *ngFor="let column of row; let indexColumn = index"
                 (click)="fireTorpedo($event)"
                 [style.background-color] = "column == 2 ? 'green' : column == 1 ? 'transparent':'red'"
                 id={{indexRow}}-{{indexColumn}}-ownBoard>
              X
            </td>
          </tr>
        </table>
        </div>
        <div class="col-md-4 offset-1 col-md-4">
            <table class="table table-bordered table-dark">
              <tr *ngFor="let row of playerOne.opositBoard.positions; let indexRow = index">
                <td *ngFor="let column of row; let indexColumn = index"
                     (click)="fireTorpedo($event)"
                     [style.background-color] = "column == 2 ? 'green' : column == 1 ? 'transparent':'red'"
                     id={{indexRow}}-{{indexColumn}}-opositBoard>
                  X
                </td>
              </tr>
            </table>
            </div>
  </div>



</div>