/* You can add global styles to this file, and also import other style files */
.battleShipBoard
{    
    width: 100%; 
    height: 100%; 
    position: relative;
    background: url(/src/assets/img/mar.jpg) no-repeat center center; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}